{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="card dark">  
</div>
<div>
    <label>Spring boot</label>
    <div class="dark progress-bar" style="height: 30px; width: 20%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/springboot1.png"></div>
</div>
<div>
    <label>Maven</label>
    <div class="dark" style="height: 30px; width: 40%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/Maven1.png"></div>
</div>
<div>
    <label>Thymeleaf</label>
    <div class="dark" style="height: 30px; width: 90%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/thymeleaf.png"></div>
</div>
<div>
    <label>Swagger</label>
    <div class="dark" style="height: 30px; width: 30%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/swagger2.png"></div>
</div>
<div>
    <label>Hibernate</label>
    <div class="dark" style="height: 30px; width: 60%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/hibernate1.png"></div>
</div>
<br>
    <div>
        <h2>My Java projects</h2>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Encryption Project</h2>
                <p>In this project a user can upload any file, including photos and zip files. This file is then encrypted based on the password the user enters.
                    When the user wants to decrypt the file the user simply selects the encypted file and then enters their password to decrypt the file.
                </p>
            </div>
            
            <div class="right_container dark">
                <div class="icon vertically-centered">
                    <a href="https://github.com/chloemacmahon/Encryption"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="slide accent">
                <h2>Libraries and technologies used</h2>
                <a class="skill">Java</a>
                <br>
                <br>
                <div class="icon">
                    <a href="https://github.com/chloemacmahon/Encryption"><img src="/static/Images/github.png"></a>
                </div>
            </div>
            
        </div>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Tax Calculator</h2>
                <p>This project can be used to calculate a person's yearly income tax payable.
                    The user can enter their salary income, either recieved in monthly payments or another specified period, their rental income and capital gains income.
                    The user can then also enter their taxable expenses. The program then calculates how much income tax is owed to the receiver
                </p>
            </div>
            
            <div class="right_container dark">
                <div class="icon vertically-centered ">
                    <a href="https://github.com/chloemacmahon/Tax_Calculator"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="slide accent">
                <h2>Libraries and technologies used</h2>
                <a class="skill">Java</a>
                <a class="skill">Postgres Sql</a>
                <br>
                <br>
                <div class="icon vertically-centered">
                    <a href="https://github.com/chloemacmahon/Tax_Calculator"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Discovery Vitality</h2>
                <p>This program is a full stack program that mimics the functions of the Discovery Vitality system.
                    A member can complete activities and this can be added to their weekly goal progress
                    After completing a goal a member can choose a gametile from the gametile and earn miles they can then use miles to buy rewards
                </p>
            </div>
            
            <div class="right_container accent">
                <div class="vertically-centered icon">
                    <a href="https://github.com/chloemacmahon/discovery_miles"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="slide dark">
                <h2>Libraries and technologies used</h2>
                <a class="skill">Spring boot</a>
                <a class="skill">Thymeleaf</a>
                <a class="skill">Maven</a><br>
                <a class="skill">Swagger</a>
                <a class="skill">Postgres Sql</a>
                <br>
                <br>
                <div class="icon">
                    <a href="https://github.com/chloemacmahon/discovery_miles"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Corporate Photo</h2>
                <p>
                    This project was a full stack project completed with Willem Coetzee.
                    In this project a user can upload photos, create albums and edit related data.
                    The user can also share photos and albums with other users as well as manage access
                </p>
            </div>
            
            <div class="right_container accent">
                <div class="vertically-centered icon">
                    <a href="https://github.com/chloemacmahon/CorporatePhoto"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="slide dark">
                <h2>Libraries and technologies used</h2>
                <a class="skill">Spring boot</a>
                <a class="skill">Thymeleaf</a>
                <a class="skill">Maven</a><br>
                <a class="skill">Azure web services</a><br>
                <a class="skill">Postgres Sql</a>
                <br>
                <br>
                <div class="icon">
                    <a href="https://github.com/chloemacmahon/CorporatePhoto"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="card accent">
        <p>
            Also view my Hackerrank profile to view to various coding challenges I have completed. 
            As well as take a look at Github profile and LinkedIn profile
        </p>
        <div class="icon">
            <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
            <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
            <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
        </div>
    </div>

      
{% endblock %}