{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<br>
<div>
    <div class="badge-base LI-profile-badge" style="margin:auto;" data-locale="en_US" data-size="large" data-theme="light" data-type="VERTICAL" data-vanity="chloe-mac-mahon-2795aa1a9" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://za.linkedin.com/in/chloe-mac-mahon-2795aa1a9?trk=profile-badge"></a></div>
                  
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    </div>
    <br>
    <div>
        <iframe style="width: 100%; height: auto;" src="/static/docs/Resume-Chloe-Mac-Mahon.pdf"></iframe>
    </div>
    <br>
    <div class="card">
        <div class="container light" >
            <h2 class="dark-font">Download CV</h2>
            <a href="/static/docs/Resume-Chloe-Mac-Mahon.pdf" download="">
                <img class="icon" style="width: 10%;" src="/static/Images/download_icon1.png">
            </a>
        </div>
       
    </div>
{% endblock %}