{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="card">
    <input type="checkbox" name="" id="" class="btn">
    <div class="left_container">
        <img src="/static/Images/HeadShot.jpg">
    </div>
    
    <div class="right_container dark">
        <div class="vertically-centered-font">
            <p class="name">Chloe Mac Mahon</p>
            <p class="skill">Backend developer</p>
        </div>
    </div>

    <div class="slide light">
        <h2>Languages</h2>
        <a href="/java-info" class="skill">Java</a>
        <a href="/python-info" class="skill">Python</a>
        <a href="/c-sharp-info" class="skill">C#</a>
        <br>
        <br>
        <div class="icon">
            <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
            <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
            <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
        </div>
    </div>
    
</div>
        <div>
            <a href="/java-info" class="skill">Java</a>
            <div class="light" style="height: 30px; width: 70%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/java.png"></div>
        </div>
        <div>
            <a href="/python-info" class="skill">Python</a>
            <div class="light" style="height: 30px; width: 60%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/python.png"></div>
        </div>
        <div>
            <a href="/python-info" class="skill">C#</a>
            <div class="light" style="height: 30px; width: 30%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/Csharp.png"></div>
        </div>

        <br> 
        <div class="card light">
            <p>
                Take a look at my Hackerrank profile to see some of the coding challenges I have completed. 
                As well as take a look at Github profile and LinkedIn profile to see my experience and some of my projects
            </p>
            <div class="icon">
                <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
                <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
                <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
            </div>
        </div>

{% endblock %}