{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="card">
    <input type="checkbox" name="" id="" class="btn">
    <div class="left_container">
        <h2>Covid-19 spread model</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <div class="right_container dark">
        <p class="name">This project uses a randomiser to predict the spread of Covid 19 within South Africa</p>
    </div>

    <div class="light slide">
        <h2>Libraries and related technologies</h2>
        <a class="skill">Spring boot</a>
        <a class="skill">Thymeleaf</a>
        <a class="skill">Maven</a><br>
        <a class="skill">Swagger</a>
        <a class="skill">Postgres Sql</a>
        <br>
        <br>
        <div class="icon">
            <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
            <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
            <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
        </div>
    </div>
    
</div>
<div>
    <label>Flask</label>
    <div class="accent rounded" style="height: 30px; width: 20%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/flask1.png"></div>
</div>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Covid-19 spread model</h2>
                <p>This project uses a randomiser to predict the spread of Covid 19 within South Africa.
                    This project produces various maps to visually show people's movements throughout South Africa as well as showing how Covid 1\9 spreads througout the population.
                    This project also shows the effect that mass spreader events have on the spread of Covid-19.
                </p>
            </div>
            
            <div class="right_container dark">
                <div class="icon vertically-centered">
                <a href="https://colab.research.google.com/drive/18BEtMU9f6cKu7cm21dtY6uTBba5Zcpkx?usp=sharing"><img src="/static/Images/colab1.png"></a>
                </div>
            </div>
        
            <div class="light slide">
                <h2>Libraries and related technologies</h2>
                <a class="skill">Python</a>
                <a class="skill">Pandas</a>
                <a class="skill">Matplot</a><br>
                <br>
                <br>
                <div class="icon">
                    <a href="https://colab.research.google.com/drive/18BEtMU9f6cKu7cm21dtY6uTBba5Zcpkx?usp=sharing"><img src="/static/Images/colab1.png"></a>
                </div>
            </div>
            
        </div>
        <br>
        <div class="card accent">
            <p>
                Also view my Hackerrank profile to view to various coding challenges I have completed. 
                As well as take a look at Github profile and LinkedIn profile
            </p>
            <div class="icon">
                <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
                <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
                <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
            </div>
       
        </div>
{% endblock %}