{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="card">
    <input type="checkbox" name="" id="" class="btn">
    <div class="left_container">
        <h2>Covid-19 spread model</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <div class="right_container dark">
        <p class="name">This project uses a randomiser to predict the spread of Covid 19 within South Africa</p>
    </div>

    <div class="light slide">
        <h2>Libraries and related technologies</h2>
        <a class="skill">Spring boot</a>
        <a class="skill">Thymeleaf</a>
        <a class="skill">Maven</a><br>
        <a class="skill">Swagger</a>
        <a class="skill">Postgres Sql</a>
        <br>
        <br>
        <div class="icon">
            <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
            <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
            <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
        </div>
    </div>
    
</div>
<div>
    <label>Flask</label>
    <div class="accent rounded" style="height: 30px; width: 20%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/flask1.png"></div>
</div>
<div>
    <label>Maven</label>
    <div class="accent rounded" style="height: 30px; width: 40%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/Maven1.png"></div>
</div>
<div>
    <label>Thymeleaf</label>
    <div class="accent rounded" style="height: 30px; width: 90%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/thymeleaf.png"></div>
</div>
<div>
    <label>Swagger</label>
    <div class="accent rounded" style="height: 30px; width: 30%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/swagger2.png"></div>
</div>
<div>
    <label>Hibernate</label>
    <div class="accent rounded" style="height: 30px; width: 60%; text-align: left;"><img class="icon-small" alt="Spring Boot" src="/static/Images/hibernate1.png"></div>
</div>

        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Hook It</h2>
                <p>
                    A website for a crocheting company that sells yarn, crocheting patterns and other crocheting tools.
                    This website is done with C# as well as HTML, CSS and Javascript.
                    The website also has functionality to search from videos from Youtube
                </p>
            </div>
            
            <div class="right_container dark">
                <div class="icon vertically-centered" >
                <a href="https://github.com/chloemacmahon/HookIt" style="top:60%"><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="light slide">
                <h2>Libraries and related technologies</h2>
                <a class="skill">C#</a>
                <a class="skill">ASP.net</a>
                <a class="skill">HTML</a><br>
                <a class="skill">CSS</a>
                <a class="skill">Javascript</a>
                <br>
                <br>
                <div class="icon">
                    <a href="https://github.com/chloemacmahon/HookIt"><img src="/static/Images/github.png"></a>
                </div>
            </div>
            
        </div>
        <br>
        <div class="card">
            <input type="checkbox" name="" id="" class="btn">
            <div class="left_container">
                <h2>Go to PDF page</h2>
                <p>
                    This program can flip through a pdf file to either a specific page or a random page 
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            
            <div class="right_container dark">
                <div class="icon vertically-centered">
                    <a href="https://github.com/chloemacmahon/GoToPDFPage" ><img src="/static/Images/github.png"></a>
                </div>
            </div>
        
            <div class="light slide">
                <h2>Libraries and related technologies</h2>
                <a class="skill">C#</a>
                <br>
                <br>
                <div class="icon">
                    <a href="https://github.com/chloemacmahon/GoToPDFPage"><img src="/static/Images/github.png"></a>
                </div>
            </div>
            
        </div>
        <br>
        <div class="card accent">
            <p>
                Also view my Hackerrank profile to view to various coding challenges I have completed. 
                As well as take a look at Github profile and LinkedIn profile
            </p>
            <div class="icon">
                <a href="https://www.hackerrank.com/chloemacmahon?hr_r=1" class="icon"><img src="/static/Images/hackerrank.png"></a>
                <a href="https://www.linkedin.com/in/chloe-mac-mahon-2795aa1a9"><img src="/static/Images/linkedin1.png"></a>
                <a href="https://github.com/chloemacmahon"><img src="/static/Images/github.png"></a>
            </div>
        </div>
{% endblock %}